@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  body {
    @apply bg-gray-50 text-gray-600 antialiased;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}